@media only screen and (min-width: 768px) { 
    .nav-item { margin-bottom: 5px; margin-top: 5px; }
    .container p {
        float: right;
        color: #38471f;
        font-weight: 900;
        font-family: 'Marvel';
        font-size: 30pt;
        white-space: nowrap;
    }
    .container .mobile-title p { display: none; }
    #small-content { display: none; }      
    .commissions {
        font-family: 'Marvel';
        margin-top: 50px;
        color: #30221d;
    }
    .commissions table { margin-left: 110px; }
    .commissions h1 { font-weight: 900; }
    .commissions p { font-size: 20px; }
    .commissions li {
        margin-left: 25px;
        font-size: 18px;
        font-weight: 400;
    }
    .commissions img {
        display: run-in;
        margin-right: 100px;
        height: 300px;
        width: auto;
    }
    .commissions #contact {
        display: block;
        margin-left: 550px;
        font-size: 25px;
        font-weight: 800;
    } 
    .commissions #mobileContact { display: none; }
    table {
        background-color: #604439;		
        border-radius: 25px;
    }
    table th { padding: 15px; }
}

@media only screen and (max-width: 767px) { 
    .nav-item {margin-top: 35px;}
    .container .mobile-title p { 
        display: inline;
        color: #38471f;
        font-family: 'Marvel';
        font-size: 20pt;
        font-weight: bold;
    }
    .container p { display: none; }
    #content { display: none; }
    #small-content { margin-top: 10px; }
    .commissions{
        font-family: 'Marvel';
        color: #30221d;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .commissions p { font-size: 14pt;}
    .commissions table { margin-left: 10%; }
    .commissions img { display: none; }
    .commissions #contact { display: none; }
}

.navbar-nav {
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 0px;
}

.footer-copyright .row {
    display: flex;
    justify-content: space-between;
}

.footer-copyright .row p {
    margin-left: 25px;
}

.footer-copyright .row p a {
    margin-right: 5px;
    margin-left: 5px;
    float: left;
}

.footer-copyright .row .copy {
    margin-right: 30px;
}

body {
    background: #795548;
}

.carousel {
    padding-top: 25px;
    position: center;
}

#img-1 {
    height: 700px;
    width: auto;
    margin-left: 20%;
}

#img-2 {
    height: 700px;
    width: auto;
    margin-left: 20%;
}

#img-3 {
    margin-top: 30px;
    margin-left: 7.5%;
}

.gallery {
    margin: 50px;
}

.mdb-lightbox {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.thumbnail {
  max-width: 75%;
}

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	outline: none;
	display: block;
}

