.col-md-6 a {
    margin-right: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

body {
    background: darkolivegreen;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu td {
    border-radius: 25px;
    padding: 5px;
}

.menu th {
    text-align: center;
    font-family: 'Roboto;'
}

@media only screen and (min-width: 768px) { 
    .nav-item { margin-bottom: 5px; margin-top: 5px; }
    #img-1 { margin: auto; display: block; }
    #img-2 { margin: auto; display: block; }
    #img-3 { margin: auto; display: block; }
    #img-4 { display: none; }
    #img-5 { display: none; }
    #img-6 { display: none; }
    #img-7 { display: none; }
    #img-8 { display: none; }
    #img-9 { display: none; }
}

@media only screen and (min-width: 480px) and (max-width: 767px) { 
    .navbar { padding-bottom: 45px; }
    .nav-item {margin-top: 35px;}
    #img-1 { display: none; }
    #img-2 { display: none; }
    #img-3 { display: none; }
    #img-4 { margin: auto; display: block; }
    #img-5 { margin: auto; display: block; }
    #img-6 { margin: auto; display: block; }
    #img-7 { display: none; }
    #img-8 { display: none; }
    #img-9 { display: none; }
}

@media only screen and (max-width: 479px) { 
    .navbar { padding-bottom: 45px; }
    .nav-item {margin-top: 35px;}
    #img-1 { display: none; }
    #img-2 { display: none; }
    #img-3 { display: none; }
    #img-4 { display: none; }
    #img-5 { display: none; }
    #img-6 { display: none; }
    #img-7 { margin: auto; display: inline; }
    #img-8 { margin: auto; display: inline; }
    #img-9 { margin: auto; display: inline; }
}